.signup-main {
  display: flex;
  justify-content: space-between;
}

.signup-main {
  margin-top: 35px;
}

.signup-form-section {
  height: 621px;
}

.signup-img {
  margin-top: 100px;
}

.signup-link {
  text-decoration: none;
  color: #4e9d9a;
}
