.forgetpw-signin {
  background: #4e9d9a;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid transparent;
}

.forgerpw-login-email-input {
  margin-bottom: 42px;
}

.forgetpw-main {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.forgetpw-img {
  margin-top: 90px;
}

.login-button {
  color: white !important;
}

.reset {
  color: white;
  text-decoration: none;
}
